alexyap1205info/alexyap1205info/Service References/InformationServices/InformationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProfileInformationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProfileInformationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEducation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Education" nillable="true" type="tns:Education" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEducation" nillable="true" type="tns:ArrayOfEducation" />
  <xs:complexType name="Education">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Institution" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearCompleted" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Education" nillable="true" type="tns:Education" />
</xs:schema>